
<ion-header>
  <ion-navbar>
    <ion-title>Agregar Jugador</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<!--*ngIf="form" [formGroup]="form"-->
  <form ng-mouseover>
 <!--   <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
    <div class="profile-image-wrapper" (click)="getPicture()">
      <div class="profile-image-placeholder" *ngIf="!this.form.controls.profilePic.value">
        <ion-icon name="add"></ion-icon>
        <div>FOTO</div>
        <div class="profile-image" [style.backgroundImage]="getProfileImageStyle()" *ngIf="this.form.controls.profilePic.value"></div>
      </div>
    </div>-->

    <ion-list>
      <ion-item>
        <ion-label color="primary" stacked>Nombre</ion-label>
        <ion-input type="text" [(ngModel)]="jugador.nombre" name="nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>Posición</ion-label>
        <ion-input type="text" [(ngModel)]="jugador.posicion" name="posicion"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>Fecha de nacimiento</ion-label>
        <ion-datetime [(ngModel)]="jugador.fecha_nac" name="fecha_nac" displayFormat="DD-MMM-YYYY" pickerFormat="DD MMM YYYY"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>Altura</ion-label>
        <ion-input type="number" [(ngModel)]="jugador.altura" name="altura"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>Peso</ion-label>
        <ion-input type="number" [(ngModel)]="jugador.peso" name="peso"></ion-input>
      </ion-item>
    </ion-list>


    <button type="submit" (click)="crearJugador()" ion-button full>Guardar</button>
  </form>


</ion-content>