<ion-header>

  <ion-navbar>
    <ion-title>Nuevo Partido</ion-title>
    <ion-buttons end>
      <button ion-button (click)="cerrar()">
        <!--  <span ion-text>Cerrar</span>-->
          <ion-icon name="close"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-label color="primary" stacked>Equipo local</ion-label>
      <ion-select>
        <ion-option *ngFor="let equipo of equipos|async" [value]="equipo.nombre">{{equipo.nombre}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Equipo visitante</ion-label>
      <ion-select>
        <ion-option *ngFor="let equipo of equipos|async" [value]="equipo.nombre">{{equipo.nombre}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Fecha</ion-label>
      <ion-datetime displayFormat="DD-MMM-YYYY" pickerFormat="DD MMM YYYY"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Hora</ion-label>
      <ion-datetime displayFormat="HH:mm" pickerFormat="HH mm"></ion-datetime>ut>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Lugar</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>


  </ion-list>

  <button ion-button full>
    Guardar
  </button>

</ion-content>